<mat-spinner *ngIf='isLoading'></mat-spinner>
<mat-accordion multi='true' *ngIf="posts.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor='let post of posts'>
    <mat-expansion-panel-header >
      {{post.title}}
    </mat-expansion-panel-header>
    <p>{{ post.content }}</p>
    <a mat-button color="primary" [routerLink]="['edit', post.id]">EDIT</a>
    <button mat-button color="accent" (click)='onDelete(post.id)'>DELETE</button>
  </mat-expansion-panel>
  <mat-action-row>
  </mat-action-row>
</mat-accordion>
<p *ngIf="(dataFromSelector$ | async)?.length > 0">Last title saved: {{ dataFromSelector$ | async }}</p>
<p class="text-center mat-body-1" *ngIf="posts.length <= 0 && !isLoading">Not posts added yet!</p>
