<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input
      formControlName="title"
        type="text"
        matInput
        placeholder="Post Title"
      />
    </mat-form-field>
    <!-- <div>
    <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
    <input type="file" #filePicker (change)="onImagePicked($event)">
    </div> -->
    <!-- <div>
      <img src="" [alt]="form.value.title">
    </div> -->
    <mat-form-field>
      <textarea
        rows="4"
        formControlName="content"
        matInput
        placeholder="Post content"
      ></textarea>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Save Post</button>
  </form>
</mat-card>
